<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965084931176-8f5eamoee4d11jd0tlk7ldeoobroh1m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965084931176-8f5eamoee4d11jd0tlk7ldeoobroh1m9</string>
	<key>API_KEY</key>
	<string>AIzaSyD-_QrjCqZbchwH8hX9v3jksWrGhQjI8gM</string>
	<key>GCM_SENDER_ID</key>
	<string>965084931176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lensplayxyz.lensplay</string>
	<key>PROJECT_ID</key>
	<string>lensplay-470f9</string>
	<key>STORAGE_BUCKET</key>
	<string>lensplay-470f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965084931176:ios:3457051c3550f45cb6c7dd</string>
</dict>
</plist>